<div class="amiguitos">
    <div class="tituloBienBacano">Buscar Artistas:</div>
    <input #q class="inputBienBacano" type="text" placeholder="Wopeshea Orchestra">
    <button (click)="searchIt()">Buscar!</button>
</div>
<div class="resultados">
    <span class="aLittleBigText">Resultados:</span>
    <div class="elemento">
        <div class="info title">Nombre</div>
        <div class="info title">Alias</div>
        <div class="info title">País</div>
        <div class="info title">Ranking</div>
    </div>
    <div class="elemento" *ngFor="let element of artistService.artists">
            <div class="info title">{{element.artist_name}}</div>
            <div class="info title">{{element.artist_alias[0]}}</div>
            <div class="info title">{{element.artist_country}}</div>
            <div class="info title">#{{element.artist_rating}}</div>
    </div>
</div>
