app-artist, app-lyrics, app-track{
    padding: 5px 15px;
    box-sizing: border-box;
}
app-artist {
    background: #e67e22;
}

app-lyrics {
    background: #e74c3c;
}

app-track{
    background: #3498db;
}